.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #111111;
    color: #FFF;
}

.skills-list{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    justify-items: center;
}

.skill-btn{
    width: 400px;
    text-align: center;
    align-self: center;
    color: #fff;
    border: 3px solid #fff;
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    transition: border 0.4s, background 0.4ms;
}

.skill-btn:hover{
    color: #111;
    background: #bdfbff;
    border: 3px solid #bdfbff;
    transition: 0.4s all ease;
}


@media (max-width: 1530px) {
    section{
        padding: 20px 0px 60px;
    }
    
    .skills-list{
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (max-width: 1150px) {
    .skills-list{
        grid-template-columns: 30% 30% 30%;
    }
}

@media (max-width: 850px) {
    .skills-list{
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 550px) {
    .skills-list{
        grid-template-columns: 100%;
    }
}