.article{
    border-radius: 20px;
    height: 250px;
    margin: 0 15px 25px;
    display: flex;
    flex-direction: column;
}

.img{
    flex: 3;
    background-color: #D69797;
    border-radius: 20px 20px 0 0;
}

.infos{
    flex: 2;
    background-color: #f1f1f1;
    border-radius: 0 0 20px 20px;
}

.infos h2{
    text-align: left;
    font-weight: 400;
}

.infos .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
}

.infos .date{
    display: flex;
    flex-direction: row;
    
}